@import 'variables';
@import 'mixins';

body {

}
.container {
  max-width:1000px;
  margin:0 auto;
  @media(min-width:600px) {
    padding:0 15px;
  }
}
.error {
  color:red;
}
*[no-select] {
  @include user-select(none);
}
*[pointer] {
  cursor:pointer;
}
*:focus {
  outline: none;
  // border: 0;
}
*[stretch] {
  width:100%;
}
md-progress-circular {
  z-index:1000;
  position:fixed;
  margin-top:-65px;
  width:100%!important;
  height:100%!important;
  background: rgba(255,255,255,0.8);
  & svg {
    position:relative;
    left:calc(50% - 25px);
    top:42%;
  }
}

@import 'main/main';
@import 'auth/auth';
@import 'navbar/navbar';
@import 'account/account';
