$theme1: #C1676F;
$theme2: #DF8797;
$theme3: #EDBEC8;
$theme4: #94B7BB;
$theme5: #ACC6C9;
$theme6: #C6B170;
$theme7: #E2D1A6;

body {

}

.error {
  color:red;
}

@import 'main/main';
@import 'auth/auth';
@import 'navbar/navbar';
