<md-sidenav no-select class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
  <md-subheader class="md-no-sticky">
    <span layout="row" layout-align="center center">
      {{currentUser.email | uppercase}} <span flex></span>
      <a href="" ng-click="closeRight()">
        <md-icon>exit_to_app</md-icon>
      </a>
    </span>
  </md-subheader>
  <md-content>
    <md-list>
      <md-list-item ng-repeat="nav in authmenu">
        <md-button flex ui-sref="{{nav.state}}" ng-click="closeRight()">
          <span layout="row">
            {{nav.link}}
            <span flex></span>
            <md-icon>{{nav.icon}}</md-icon>
          </span>
        </md-button>
      </md-list-item>
      <md-divider></md-divider>
    </md-list>
  </md-content>
</md-sidenav>
