md-dialog {
  md-card {
    margin:0px;
  }
}

div.auth-container {
  margin-top:50px;
  & md-card {
    max-width:380px;
    margin:2px auto;
    & h1 {
      font-size:2.15em;
      font-weight:400;
      text-align:center;
      margin:10px 0 40px 0;
      white-space:nowrap;
      color:#777;
    }
  }
  & .auth-form {
    min-width:350px;
    margin-right:10px;
    & md-input-container {
      margin:0 15px;
      padding-bottom: 20px;
      & input.md-input {
        line-height:30px;
      }
    }
  }
  & .other-links {
    text-align:center;
  }
}
