<h1>Edit your account</h1>
<form ng-submit="update(currentUser)" role="form">
  <md-input-container md-no-float class="md-block">
    <div class="error" ng-show="error">{{error}}</div>
  </md-input-container>
  <md-input-container md-no-float class="md-block">
    <input type="email"
           name="email"
           id="email"
           ng-model="currentUser.email"
           placeholder="Change email address"
           autofocus="true"
           required/>
  </md-input-container>
  <md-input-container md-no-float class="md-block">
    <input type="password"
           name="newPassword"
           id="newPassword"
           ng-model="currentUser.newPassword"
           placeholder="Change password"
           />
  </md-input-container>
  <md-input-container md-no-float class="md-block">
    <input type="password"
           name="password"
           id="password"
           ng-model="currentUser.password"
           placeholder="Current Password"
           />
  </md-input-container>
  <md-input-container md-no-float class="md-block">
    <md-button type="submit" class="block md-raised md-primary">Save</md-button>
  </md-input-container>
</form>
